* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.home {
    background: #1F2937;
}
/* Navigation bar */
.navbar {
    display: flex;
    margin: 0vw 13vw;
    padding: 20px 0;
}
.logo h1 {
    font-size: 24px;
    color: #f9faf8;
}
.navlinks {
    margin-left: auto;
}
.navlinks ul {
    display: flex;
    gap: 20px;
}
.navlinks ul li {
    list-style: none;
    font-size: 18px;
}
.navlinks ul li a:link {
    color: #e5e7eb;
    text-decoration: none;
}
.navlinks ul li a:visited {
    color: #e5e7eb;
}
.navlinks ul li a:hover {
    color: #3882f6;
}
.navlinks ul li a:active {
    color: yellow;
}
/* Hero */
.hero {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: 0vw 13vw;
    padding: 8vw 0;
}
.hero-text {
    flex: 1;
}
.hero-text h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}
.hero-text p {
    color: #e5e7eb;
    font-size: 24px;
}
.hero-text button {
    padding: 10px 30px;
    margin-top: 15px;
    color: #e5e7eb;
    background: #3882f6;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}
.hero-text button:hover{
    background: yellow;
    color: black;
    cursor: pointer;
}
.hero-img img{
    max-width: 500px;
    height: auto;
}
.service-items {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.title {
    text-align: center;
    margin: 50px;
}
.service-item {
    width: 190px;
    height: auto;
    flex: 0 0 auto;
}
.service-item img {
    width: 190px;
    height: 190px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}
.service-item p {
    text-align: center;
}
.quote {
    display: flex;
    margin: 70px 0;
    background: #e5e7eb;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
.quote-text{
    width: 60vw;
}
.quote-text .quotetext{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}
.quote-text .quotename{
    font-weight: bold;
    text-align: right;
}
.order {
    display: flex;
    align-items: center;
    margin: 70px 15vw;
    background: #3882f6;
    color: white;
    padding: 30px 60px;
    border-radius: 10px;
}
.order-button {
    margin-left: auto;
}
.order-button a button {
    padding: 7px 15px;
    background: #3882f6;
    border: 1px solid white;
    border-radius: 5px;
    color: white;

}